<a href="https://colab.research.google.com/github/DAVIDKSOUSA/DATA_SCIENCE/blob/master/An%C3%A1lise_Fundamentalista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Magic Formula

O objetivo desse DataFrame é fazer uma classificação das em empresas segundo a Magic Formula.

In [0]:

import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings("ignore")

In [0]:
#Obtendo os dados.
url = "https://www.fundamentus.com.br/resultado.php"

#Isso irá nos trazer uma lista com todos os dataframes contidos no html, dessa forma vamos buscar apenas o primeiro dataframe.
df_teste = pd.read_html(url)

#tratar os dados antes de baixá-los, pois no site os decimais estão com vírgulas.
df = pd.read_html(url, decimal= ",", thousands=".")[0]

In [3]:
type(df_teste)

list

In [4]:
df

      Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     MNSA4     0.47     0.00  ... -9.105000e+06              -6.52       -41,11%
1     VNET3     0.00     0.00  ...  9.257250e+09               0.00        -2,71%
2     PORP4     2.40     0.00  ...  2.239900e+07               0.00        13,66%
3     CFLU4  1000.00     0.00  ...  6.035100e+07               0.06         8,14%
4     CSTB3   150.00     0.00  ...  8.420670e+09               0.14        31,91%
..      ...      ...      ...  ...           ...                ...           ...
881  UBBR11    14.75  1201.81  ...  1.031720e+10               0.00        10,58%
882   UBBR3    18.00  1466.61  ...  1.031720e+10               0.00        10,58%
883   CEPE6    19.30  1491.75  ...  1.667000e+09               3.36         8,63%
884   CEPE3    24.53  1895.99  ...  1.667000e+09               3.36         8,63%
885   CEPE5    25.11  1940.81  ...  1.667000e+09               3.36         8,63%

[886 rows x 21 columns]

In [0]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')                    #Retirar os pontos dos milhares.
  df[coluna] = df[coluna].str.replace(',', '.')                   #susbstituir a vírgula por ponto.
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100   #Tirar o % e converter os valores em pontos float.

#Analisar os dados.

In [9]:
#Filtrar as empresas com liquides.
df1 = df[df["Liq.2meses"] > 1000000]
df1

      Papel  Cotação     P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
17    SQIA3    21.77 -335.41  ...  4.314610e+08               0.20         0.2470
19    ANIM3    22.78 -263.88  ...  6.904350e+08               1.80         0.0812
25    LPSB3     3.90 -134.39  ...  1.785920e+08               0.05        -0.0914
26    BTOW3    73.25 -120.43  ...  5.734430e+09               1.12        -0.0819
37    PRNR3     8.10  -50.44  ...  7.432800e+07               1.16         0.2130
..      ...      ...     ...  ...           ...                ...            ...
868   OMGE3    29.99  187.75  ...  2.816510e+09               1.42         0.6907
874   NTCO3    35.52  271.31  ...  3.362340e+09               3.21         0.0000
876   VALE3    44.86  322.58  ...  1.788540e+11               0.55         0.1438
877   ALSO3    27.91  336.76  ...  6.443630e+09               0.00         0.1860
880  GBIO33     9.95  662.43  ...  7.405640e+08               0.26        -0.0195

[200 rows x 21 columns]

In [16]:
#Filtrar as empresas com menor relação ev/ebit e maior roic.
ranking = pd.DataFrame()
ranking["pos"] = range (1,151)
ranking["EV/EBIT"] = df1[df1["EV/EBIT"]>0].sort_values(by=["EV/EBIT"])["Papel"][:150].values
ranking["ROIC"] = df1.sort_values(by=["ROIC"], ascending = False)["Papel"][:150].values
ranking

     pos EV/EBIT   ROIC
0      1   PSSA3  WIZS3
1      2   SMLS3  PSSA3
2      3  SULA11  TOTS3
3      4   ENAT3  ODPV3
4      5   WIZS3  SMLS3
..   ...     ...    ...
145  146   NTCO3  DTEX3
146  147   ANIM3  MDNE3
147  148   PNVL3  ROMI3
148  149   GNDI3  PRNR3
149  150   MEAL3  JHSF3

[150 rows x 3 columns]

In [0]:
a = ranking.pivot_table(columns = "EV/EBIT", values="pos")
b = ranking.pivot_table(columns= "ROIC", values="pos")

In [20]:
t = pd.concat([a,b])
t

     AALR3  ABEV3  AGRO3  ALPA4  ALSO3  ...  VVAR3  WEGE3  WIZS3  WSON33  YDUQ3
pos  100.0   72.0   96.0  145.0  102.0  ...  126.0    NaN    5.0    21.0   82.0
pos  129.0    9.0   92.0   21.0  145.0  ...  131.0   14.0    1.0    27.0   11.0

[2 rows x 156 columns]

In [22]:
rank = t.dropna(axis=1).sum()
rank

AALR3     229.0
ABEV3      81.0
AGRO3     188.0
ALPA4     166.0
ALSO3     247.0
          ...
VULC3      94.0
VVAR3     257.0
WIZS3       6.0
WSON33     48.0
YDUQ3      93.0
Length: 142, dtype: float64

In [33]:
#Esses multiplos não fazem muito sentido para empresas do setor financeiro.
pd.DataFrame(rank.sort_values(ascending=True))

            0
PSSA3     3.0
WIZS3     6.0
SMLS3     7.0
VALE3    21.0
SAPR4    26.0
SAPR3    30.0
SAPR11   30.0
ALUP11   33.0
LEVE3    38.0
MRFG3    40.0
GOLL4    40.0
TEND3    44.0
TGMA3    44.0
WSON33   48.0
AMAR3    52.0
CVCB3    54.0
BEEF3    54.0
ENAT3    62.0
RAPT4    63.0
QUAL3    68.0
UNIP6    69.0
SBSP3    74.0
TUPY3    74.0
PETR4    79.0
ABEV3    81.0
PETR3    81.0
EQTL3    82.0
CMIG4    84.0
CIEL3    84.0
CSNA3    85.0
PCAR3    85.0
HGTX3    86.0
TOTS3    86.0
CMIG3    86.0
JBSS3    87.0
YDUQ3    93.0
VULC3    94.0
PARD3    94.0
CSMG3    94.0
TRIS3    95.0
LREN3    96.0
TRPL4    97.0
ENBR3    97.0
EGIE3   100.0
CRFB3   100.0
CPLE3   100.0
PFRM3   101.0
SEER3   103.0
ECOR3   103.0
CPLE6   103.0